.App {
  text-align: center;
}

.Nav-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  text-decoration: none;
}

h1{
  text-align: center;
}

.Nav-link:hover {
  text-decoration: none;
  color: lightgrey;
}

.nav-item {
  margin-top: 1rem;
}
